html{
    font-size: 62.5%;
}

body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: grid;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
}

/* Editor */

.main-wrap{
    background-color: #38444D;
    width: 70rem;
    height: 35rem;
    border-radius: 1.5rem;
    display: grid;
    align-content: center;
    place-self: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2rem;
}

.main-wrap_exa{
    height: 20rem;
}

.editor{
    background-color: #15202B;
    width: 65rem;
    height: 30rem;
    border-radius: 0.8rem;
    display: grid;
    justify-self: center;
}

.main-editor{
    height: 15rem;
}

.space{
    padding: 1.5rem;
}


/* Propiedades de etiqueta */

.key{
    color: #7DA688;
    display: inline;
}

.tag{
    color: #E17159;
    display: inline;
}

.attr{
    color: #8253b0;
    display: inline;
}

.value{
    color: #38aae3;
    display: inline;
}

.string{
    color: #ececec;
    display: inline;
}

/* Niveles de identacion */

.ident1{
    margin-left: 2.5rem;
}

.ident2{
    margin-left: 5rem;
}

/* TextArea para ingresar el codigo */

.area{
    color: white;
    resize: none;
    display: grid;
}

.area::placeholder{
    font-size: 2rem;
    text-align: center;
}

/* Boton */

.format{
    width: 30%;
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;
    border: none;
    background-color: #8253b0;
    color: #ececec;
    font-family: 'Roboto';
    font-size: 1.6rem;
    cursor: pointer;
}

.format:hover{
    background-color: #7539b0;
}

.button{
    display: flex;
    justify-content: center;
}